body{
    background-image: url(4-41529_m.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

label{
    display: block;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
}

table{
    border: 2px solid white;
    text-align: center;
}

td{
    text-align: center;
}

th{
    text-align: center;
    color: red;
}

input{
    width: 50%;
    border: 1px solid black;
    margin-bottom: 1px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
}

.form{
    width: 350px;
    height: 350px;
    background: black;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px red;
    padding: 20px 30px;
    border-top: 4px solid gray;
    color: white;
    text-align: center;
}

.table-form{
    width: 400px;
    height: 100px;
    background: black;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px red;
    padding: 20px 30px;
    border-top: 4px solid gray;
    color: white;
}

::placeholder{
    text-align: center;
}